.pageheadertext {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    width: 80%;

    @include respond(phone) {
      width: 100%;
    }

    &__heading {
      font-weight: 700;
    }

    &__body {
      color: $color-grey;
    }
  }

  &__actions {
    margin-left: 4rem;

    &__item {
      padding: 0.5rem 1rem;
      border: 1px solid $color-grey !important;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      &__icon {
        font-size: 1.8rem;
        color: $color-grey;
        display: flex;
      }
    }
  }
}
