.bottomnavbar {
  &__container {
    overflow: hidden;
    position: fixed;
    left: 5rem;
    top: 10rem;
    z-index: 1;

    @include respond(phone) {
      bottom: 0;
      width: 100%;
      top: auto;
      left: 0;
      bottom: 0;
    }

    &__content {
      padding: 2rem 0;
      width: 8rem;
      margin: auto;
      background-color: $color-border;
      border-radius: 10px;
      border: 1px solid $color-grey-light;

      @include respond(phone) {
        width: 100%;
        border-radius: 0;
        padding: 1rem 0;
      }

      &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 0.5rem;

        @include respond(phone) {
          justify-content: center;
          flex-direction: row;
        }

        &__item {
          font-size: 2.5rem;
          color: $color-grey;
          padding: 1rem 1.5rem;
          cursor: pointer;
          border-radius: 10px;

          @include respond(phone) {
            font-size: 2rem;
            padding: 0.8rem 1.4rem;
          }

          &:hover {
            transition: 0.3s all;
            background-color: $color-primary;
            color: $color-white;
          }

          &--active {
            background-color: $color-primary;
            color: $color-white;
          }
        }

        &__icon {
          &:not(:first-child) {
            margin: 1rem 0 0 0;

            @include respond(phone) {
              margin: 0 0 0 5rem;
            }
          }
        }
      }
    }
  }
}
