.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    width: 60%;
    margin: auto;

    @include respond(tab-port) {
      width: 80%;
    }

    &__logo {
      align-self: flex-start;
    }

    &__actions {
      &__button {
        &-primary {
        }
      }
    }
  }
}
