.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 60%;
    margin: auto;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
    }

    &__logo {
      width: 10rem;
    }

    &__avtar {
      &__container {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        display: inline-block;
        border: 2px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: blink 1s ease-out 0s alternate 3 none running;

        @keyframes blink {
          from,
          to {
            opacity: 0;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }

        &__image {
          width: 4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &__container {
            border-radius: 50%;
          }
        }

        &__checkbox {
          top: 0;
          opacity: 0;
          display: block;
          padding: 0;
          margin: 0;
          border: 0;
          position: absolute;
          height: 100%;
          width: 100%;

          &:hover {
            cursor: pointer;
          }
        }

        &__checkbox:checked ~ &__dropdown {
          transform: scaleY(1);
          -webkit-transform: scaleY(1);
        }

        &__dropdown {
          min-width: 12rem;
          border: 1px solid $color-grey;
          border-radius: 5px;
          display: block;
          position: absolute;
          top: 5.5rem;
          right: 0;
          transform: scaleY(0);
          transform-origin: top left;
          transition-duration: 0.2s;
          -webkit-transform: scaleY(0);
          -webkit-transform-origin: top left;
          -webkit-transition-duration: 0.2s;

          &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &__item {
              word-break: keep-all;
              white-space: nowrap;
              display: block;
              position: relative;
            }
          }

          &__link {
            display: block;
            position: relative;
            text-decoration: none;
            color: $color-black;
            transition: 0.3s all;
            cursor: pointer;
            font-size: 1.2rem;
            padding: 1.2rem 1.6rem;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
