.landing {
  &__container {
    &__hero {
      &__container {
        @include respond(phone) {
          padding: 0 5rem;
        }

        @include respond(small-phone) {
          padding: 0 2rem;
        }

        &__content {
          display: flex;
          align-items: center;
          justify-content: center;

          @include respond(phone) {
            flex-direction: column;
            align-items: center;
          }

          &__image {
            width: 35rem;

            @include respond(tab-port) {
              width: 25rem;
            }

            @include respond(phone) {
              width: 15rem;
            }
          }

          &__text {
            width: 35%;
            margin-left: 4rem;

            @include respond(tab-land) {
              width: 40%;
            }

            @include respond(phone) {
              width: 100%;
              margin: 2rem 0 0 0;
            }

            &__subheading {
              color: $color-grey;
            }
          }

          &__actions {
            button {
              @include respond(phone) {
                width: 100%;
              }
            }

            &-primary {
              margin-right: 1rem;
            }

            &-secondary {
              @include respond(phone) {
                margin: 1rem 0 0 0;
              }
            }

            &__text {
              margin-top: 2rem;
            }
          }
        }
      }
    }

    &__aboutproduct {
      &__container {
        width: 65%;
        margin: auto;
        padding: 5rem;
        background-image: linear-gradient(to bottom right, #c23237, #ee555a);
        border-radius: 10px;
        box-shadow: 5px 5px 4px #cecece;

        @include respond(tab-land) {
          width: 85%;
        }

        @include respond(tab-port) {
          padding: 7rem;
        }

        @include respond(small-phone) {
          width: 90%;
          padding: 3rem;
        }

        &__content {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          &__hero {
            &__heading {
              color: $color-white;
            }

            &__subheading {
              color: $color-grey-light;
            }
          }

          &__items {
            display: flex;
            align-items: center;

            @include respond(tab-port) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
}
