.register__container__hero__container__content__image {
  width: 50rem;

  @include respond(tab-port) {
    width: 30rem;
  }
}

.register__container__hero__container__content__text {
  width: 35%;
  margin-left: 4rem;

  @include respond(tab-land) {
    width: 50%;
  }

  @include respond(phone) {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  &__subheading {
    color: $color-grey;
  }
}
