// COLORS
// Primary color
$color-primary: #FF3C41;
$color-primary-light: #e43e44;

// Action colors
$color-danger: #e74f4f;
$color-danger-light: #eb6f6f;
$color-success: #31d0aa;
$color-success-light: #a1ead8;

// Other colors
$color-white: #f2f7ff;
$color-grey: #9d9999;
$color-grey-light: #e4e0e0;
$color-black: #121111;
$color-black-light: #4d4848;
$color-background: #fafafa;
$color-border: #e8e8e8;

// Fonts
$font-family: 'Inter', sans-serif;
$heading-h1: 4rem;
$heading-h2: 2.75rem;
$heading-h3: 2rem;
$subtitle: 1.5rem;
$body: 1.25rem;
$strong-text: 1.25rem;
$pre-text: 0.93rem;
$button-text: 0.93rem;
$small-text: 1rem;