.title-h1 {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  color: $color-black;
  letter-spacing: -0.3%;

  @include respond(tab-land) {
    font-size: 4rem;
  }

  @include respond(tab-port) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }

  @include respond(small-phone) {
    font-size: 3rem;
  }
}

.title-h2 {
  display: block;
  font-size: 4.5rem;
  font-weight: 700;
  color: $color-black;
  letter-spacing: -0.3%;

  @include respond(tab-land) {
    font-size: 4rem;
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.75rem;
  }
}

.title-h3 {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  color: $color-black;
  letter-spacing: -0.3%;

  @include respond(phone) {
    font-size: 2.25rem;
  }
}

.subtitle {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  color: $color-black;
  letter-spacing: -0.3%;

  @include respond(small-phone) {
    font-size: 2rem;
    font-weight: 600;
  }
}

.body {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: $color-black;
  letter-spacing: 0%;
  line-height: 140%;

  @include respond(phone) {
    font-size: 1.5rem;
  }

  @include respond(small-phone) {
    font-weight: 600;
  }
}

.strong-text {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: $color-black;
  letter-spacing: 0%;
  line-height: 120%;

  @include respond(tab-land) {
    font-size: 1.5rem;
  }
}

.pre-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-black;
  letter-spacing: 0%;
  line-height: 120%;

  @include respond(phone) {
    font-weight: 600;
  }
}

.button-text {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  color: $color-black;
  letter-spacing: 0%;
  line-height: 120%;
}

.small-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  color: $color-black;
  letter-spacing: 0%;
  line-height: 140%;
}