.form {
  width: 85%;
  &__group {
    margin-top: 3rem;
  }

  &__label {
    font-size: 2.5rem;
    font-weight: 600;
    @include respond(small-phone) {
      margin-left: 2rem;
      font-size: 1.8rem;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0.5rem;
    background-color: rgba($color: $color-grey, $alpha: 0.2);
    color: $color-primary;
    border: none;
    outline: none;
    transition: 0.5s all;
    border-radius: 5px;

    &:focus {
      color: $color-white;
        background-color: rgba($color: $color-primary, $alpha: 0.8);
    }

    // @include respond(small-phone) {
    //   margin-left: 2rem;
    //   width: 80%;
    // }
  }

  &__select {
    width: 100%;
    height: 6rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    background-color: rgba($color: $color-grey, $alpha: 0.2);
    color: $color-primary;
    padding: 0rem 0rem 0rem 1rem;
    border: none;

    &:focus {
        color: $color-white;
        background-color: rgba($color: $color-primary, $alpha: 0.8);
    }

    @include respond(small-phone) {
      margin-left: 2rem;
      width: 80%;
    }
  }

  &__submit {
    margin: 1rem 0 2rem 0;
    width: 100%;
    padding: 2rem 0;

    // @include respond(small-phone) {
    //   margin-left: 2rem;
    // }

    &__section {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__message {
      font-size: 5rem;
      font-weight: 500;
      text-align: center;

      @include respond(small-phone) {
        font-size: 3rem;
        font-weight: 500;
      }
    }
  }
}
