.loader {
  border: 5px solid $color-grey;
  border-top: 5px solid $color-primary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  top: 50%;
  position: absolute;
  left: 50%;

  @include respond(phone) {
    left: 45%;
    width: 40px;
    height: 40px;
    border: 3px solid $color-grey;
    border-top: 3px solid $color-primary;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
